*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

body
{
    display: flex;
    background-image: url("Imagenes/Fondo.png");
    font-family: 'Ubuntu', sans-serif;
    color: #2D2B28;
}

.card
{
    min-width: 30vh;
    max-width: 25vw;
    
    margin: 1.4vw;
    border-radius: 5vh;
    overflow: hidden;
    background-color: rgba(231, 231, 231, 0.8);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    cursor: default;
    transition: all 400ms ease;

}



.card:hover
{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    transform:  translateY(-3%);
   
}
.card img
{
    width: 20vw;
    height: 25vh;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
   
}
.Contenido
{
    margin-left: 1.6vw;
}
.card h4
{
    margin-top: 0.4vh;
    font-weight: 400;
    font-size: 20px;
}
.card p
{
    line-height: 0%;
    font-weight: 300;
    font-size: 12px;
}
.Cabecera
{
    margin-top: 4vh;
    
}
.Superior
{
    display: flex;
}
.iconos
{
    justify-content: right;
}
.Cabecera h1
{
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
}
.Cabecera h3
{
    line-height: 1vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.Grilla
{
    margin-top: 2vw;
    width: 100vw;
}

.Prueba-Fondo
{
    background-image: url("Imagenes/poster+.jpg");
    background-position: center 30%;
    width: 100%;
    height: 25vh;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
    
}

.Lista-item
{
    width: 100%;
    margin: 1.4vw;
    border-radius: 5vh;
    overflow: hidden;
    background-color: rgba(231, 231, 231, 0.8);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    cursor: default;
    transition: all 400ms ease;

}

.Lista-item:hover
{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    transform:  translateY(-3%);
   
}
.horizontal
{
    display: flex;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: left;
    
}
.horizontal .Prueba-Fondo
{
    background-image: url("Imagenes/poster+.jpg");
    background-position-y: -13vh;
    width: 20vw;
    height: 18vh;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}
.horizontal .Contenido
{
    /*display: flex;*/
    margin-top: 6vh;
    
}
.horizontal .Contenido h4
{
    margin-top: 0.4vh;
    font-weight: 400;
    font-size: 20px;
}
.horizontal .Contenido p
{
    line-height: 0%;
    font-weight: 300;
    font-size: 12px;
}
.Lista .card
{
    flex-direction: row;
}
.horizontal .Estrellitas
{
    margin-top: 7vh;
    margin-left: 41vw;
}
.Estrellitas span{
    font-size: 1.5rem;
}
.Menu
{
    background-color: rgba(238, 159, 46, 0.5);
    width: 2vw;
    height: 100%;
    position: fixed;
    align-items: left;
    transition: 0.1s;
}
.Menu .contenedor-menu{
    display: none;
    position: absolute;
    padding: 5%;
    right: 20%;
}
.Menu .menu-contenido{
    margin: 5%;
}
.menu-contenido li{
    margin: 3%;
    
}
.Menu:hover
{
    width: 20vw;
    background-color: rgba(238, 159, 46, 1);
    transition: 0.3s;
}
.Menu:hover .contenedor-menu{
    display: block;
    transition: 0.3s;
    right: 10%;
}

.Cuerpo
{
    position: relative;
}
.paginacion
{
    justify-content: right;
    
}

.page-link
{
    border-radius: 15rem;
    margin: 0.02vw;
    text-decoration: none;
    background-color: rgba(231, 231, 231, 0.5);
    color: rgb(45, 43, 40,0.6);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}

.page-link a
{
    border-radius: 15rem;
    text-decoration: none;
    background-color: rgba(231, 231, 231, 0.5);
    color: #2D2B28;
}

.page-link:hover
{
    color: #2D2B28;
    background-color: rgba(231, 231, 231, 0.8);
    transform: scale(1.2);
}
/* Estilos para las estrellas de puntuación */
.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 1.5rem;
  }
  
  .stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
  }
  
  .stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
  }
  
  /* Puntos de calificación, cada punto vale media estrella */
  .stars-0:after { width: 0%; }
  .stars-10:after { width: 10%; }
  .stars-20:after { width: 20%; }
  .stars-30:after { width: 30%; }
  .stars-40:after { width: 40%; }
  .stars-50:after { width: 50%; }
  .stars-60:after { width: 60%; }
  .stars-70:after { width: 70%; }
  .stars-80:after { width: 80%; }
  .stars-90:after { width: 90%; }
  .stars-100:after { width: 100; }

  /* Fin estilos estrellas de puntuación */


  .row
{
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
/*Iconos*/
.links ul
{
    justify-content: right;
    display: flex;
}

.links li
{
    margin-left: 1vw;
    font-size: 25px;
    cursor: pointer;
    color: rgba(45, 43, 40,0.5);
    
}

.links li:hover
{
    color: rgba(45, 43, 40,0.8);
}


.links li
{
    color: rgba(45, 43, 40,0.8);
}

/*Final Iconos*/
  /*jquery*/

  @media screen and (max-width:1000px)
{
    
   
    .Contenido
    {
        text-align: center;
        margin-left: 2vw;
    }
    .paginacion
    {
        justify-content: center;
    }

    .horizontal .Prueba-Fondo
    {
        background-image: url("Imagenes/poster+.jpg");
        background-position-y: -13vh;
        width: 10vw;
        height: 10vh;
    
        box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
    }
    .horizontal .Contenido
    {
        margin-top: 3vh;
    }
    .horizontal
    {
        display: flex;
        margin-left: 1.5vw;
        margin-right: 1vw;
        text-align: left;
        
    }
    .horizontal .Estrellitas
    {
        margin-top: 3.5vh;
       
    }
}

@media screen and (max-width:720px)
{
   
    .Cuerpo 
    {
        text-align: center;
        align-items: center;
    }


}


  